@import url("/assets/css/main.css");

.searchbar {
    width: 100%;
}

.bar {
    padding: 1rem 0rem;
    /* padding-left: calc(0.375rem + 2rem); */
    flex: 1;
    width: 100%;
    font-size: 1rem;
    margin: 0;
    /* height: 1.75rem; */
    /* border-color: var(--muted); */
    border: none;
    border-bottom: 1px solid var(--foreground);
    outline: none;
}

@media only screen and (max-width: 48rem) {
    .bar {
        padding: 1rem;
    }
}