@import url("/assets/css/main.css");

.wrapper {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    align-items: stretch;
    gap: 1.5rem;

    margin-top: 5rem;
    margin-bottom: 7rem;
}

.title {
    font-size: 4rem;
}

.image {
    width: 40%;
    aspect-ratio: 8/9;
}

.texts {
    width: 60%;
}

#list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

#list>a {
    font-size: 3rem;

    padding: 0.5rem 1rem;
    justify-content: space-between;
}

#list>a:hover {
    background-color: var(--primary);
    color: var(--primary-foreground);
}

@media only screen and (max-width: 40rem) {
    .wrapper {
        padding: 0 2rem;
        grid-template-columns: 1fr;
    }

    .image {
        display: none;
    }

    .texts {
        width: 100%;
    }
}

@media only screen and (max-width: 20rem) {
    .title {
        font-size: 3rem;
    }

    #list>a {
        font-size: 2rem;
    }
}