@import url("/assets/css/main.css");

.card {
    position: relative;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;

    background: var(--muted-darker);
    border: 1px solid var(--foreground);

    animation: loading 2s ease-in-out 1s infinite;
    box-shadow: 0 0 0 var(--foreground);
    transition: box-shadow 500ms var(--ease-out-circ), transform 500ms var(--ease-out-circ);
}

.card:hover {
    transform: translate(0.25rem, -0.25rem);
    box-shadow: -0.325rem 0.325rem 0 0 var(--foreground);
}

@keyframes loading {
    0% {
        background: var(--muted-darker);
    }

    50% {
        background: var(--muted);
    }

    100% {
        background: var(--muted-darker);
    }
}

.card-details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: var(--background);
    border-top: 1px solid var(--foreground);

    padding: 1rem;
}

.card-details>div>h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.card-details>div>p {
    font-size: 1.5rem;
    font-weight: 600;
}

.card-details>.btn-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.card-details>div>a {
    color: var(--primary-foreground);
}

.skeleton-title {
    width: 100%;
    height: 1.5rem;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
}

.skeleton-title2 {
    width: 50%;
    height: 1.5rem;
    border-radius: 0.75rem;
}

.skeleton-price-wrapper {
    display: flex;
    justify-content: end;
}

.skeleton-price {
    width: 4rem;
    height: 3rem;

    border-radius: 0.75rem;
}

@media only screen and (max-width: 48rem) {
    .card-details>h3 {
        font-size: 1.75rem;
    }

    .card-details>p {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 40rem) {
    .card-details>h3 {
        font-size: 2rem;
    }

    .card-details>p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 32rem) {
    .card-details {
        padding: 0.5rem;
    }

    .card-details>h3 {
        font-size: 1.5rem;
    }

    .card-details>p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 26.25rem) {
    .card {
        grid-template-rows: 7fr 3fr;
    }
}