@import url("/assets/css/main.css");

.shop-container {
    display: flex;
    position: relative;
    height: calc(100dvh - 3.5rem - 3.25rem);
}

.shop-content {
    width: 100%;
    padding-bottom: 0;
    background: var(--background);
    transition: filter 350ms;
}

.shop-content.sidebar {
    filter: brightness(0.7);
}

.shop-content.sidebar > * {
    pointer-events: none;
}

.shop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.shop-scroll {
    padding-right: 1rem;
    overflow-x: visible;
    overflow-y: auto;
    width: calc(100% - 1rem);
    height: 100%;

    scrollbar-width: none;
}

.shop-scroll::-webkit-scrollbar {
    display: none;
}

.load-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    column-span: 3;
}

.aside-button {
    display: none;
    background: var(--background);
    transition: background 100ms;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
}

.aside-button:hover {
    background: var(--muted);
}

@media only screen and (max-width: 48rem) {
    .aside-button {
        display: block;
    }
}

@media only screen and (max-width: 35rem) {
    .shop-grid {
        grid-template-columns: 1fr 1fr;
    }
}