@import url("/assets/css/main.css");

.hero {
    width: 100%;
    padding-top: 10rem;

    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
}

.hero-left {
    position: relative;
}

.hero-right {
    position: relative;
}

.hero-title {
    width: 100%;
    font-size: 9rem;

    transform: translateY(6rem);
    opacity: 0;
}

.hero-title-end {
    text-align: end;
}

.hero-img {
    position: absolute;
    z-index: -10;

    background-image: url("/assets/image/lh-red.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: saturate(1.5);

    left: -12rem;
    top: -3rem;
    width: 25rem;
    height: 15rem;

    transform: translateX(-4rem);
    opacity: 0;
}

.hero-left>.hero-img {
    display: none;
}

.desc-container {
    overflow: hidden;
    padding: 1rem 0;
    transform: translateY(12rem);
}

.desc {
    transform: translateX(-100%);
    opacity: 0;
}

@media only screen and (max-width: 56rem) {
    .hero-title {
        font-size: 7rem;
    }
}

@media only screen and (max-width: 48rem) {
    .hero-title {
        font-size: 9rem;
    }

    .hero {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        gap: 0.5rem;
    }

    .hero-right {
        align-items: start;
    }

    .hero-right>p {
        transform: none;
    }

    .hero-right>.hero-img {
        display: none;
    }

    .hero-left {
        background-image: url("/assets/image/lh-red.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        padding: 2rem;
        filter: saturate(1.5);
    }

    .hero-left > .hero-title {
        color: var(--background);
    }

    .hero-img {
        position: static;
    }

    .desc {
        transform: translate(0, 6rem);
    }

    .desc-container {
        overflow: none;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 40rem) {
    .hero-title {
        font-size: 6rem;
    }

    .hero-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
        padding-bottom: 0;
        
        background: none;
    }

    .hero-right {
        color: var(--background);
    }

    .hero {
        padding-top: 0;
        gap: 0;

        background-image: url("/assets/image/lh-red.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        filter: saturate(1.5);
    }

    .desc-container {
        padding: 2rem;
    }
}

.fade-in {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 500ms var(--ease-out-circ);
}