:root {
    --color-primary: #fff;
    --color-text: #181818;
    --color-secondary: #
}

.shadow {
    /* shadow */
    box-shadow: 1px 10px 40px 6px rgba(0,0,0,0.24);
    -webkit-box-shadow: 1px 10px 40px 6px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 10px 40px 6px rgba(0,0,0,0.24);
}