@import url("/assets/css/main.css");
@import url("/components/carousel/carousel.css");

.view-link-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.new-arrivals {
    width: 100%;
    padding-top: 8rem;
}

@media only screen and (max-width: 48rem) {
    .new-arrivals {
        padding-top: 0rem;
    }
}