@import url("../../../assets/css/main.css");

.new-arrivals {
    padding-top: 8rem;
}

.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 3rem;
}

.selector {
    display: flex;
    gap: 1rem;
}

.left-chevron > svg {
    transform: translateX(-0.0625rem);
}
.right-chevron > svg {
    transform: translateX(0.0625rem);
}

.slider-container {
    width: 100%;
    overflow: hidden;
}

.slider {
    --items-per-screen: 4;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 750ms var(--ease-in-out-circ);
}

.slider>img {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 2 / 3;
}


@media only screen and (max-width: 48rem) {
    .new-arrivals {
        padding-top: 4rem;
    }
}

@media only screen and (max-width: 40rem) {
    .new-arrivals {
        padding: 2rem;
        padding-bottom: 0;
        /* padding-right: 2rem; */
    }
}